html{
    position: relative;
    min-height: 100%;
}
html, body {
    height: 100%;
    background: url("../images/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: black;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body{
    margin-bottom: 60px;
}

h1 {
    color: #fff;
    margin-top:10%;
    font-size: 3em;
}

code {
    font-family: monospace;
    font-size: 2em;
    background-color: rgba(1, 1, 1, 0.5);
    color:white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    /* Set the fixed height of the footer here */
    height: 60px;
}

footer small {
    font-size: 0.6em;
}

ul.links {
    padding: 0;
    list-style: none;
    margin-top: 3em;
}

.links li {
    display: inline-block;
    margin: 10px;
}

.links a:before {
    border-radius: 100%;
    border: 1px solid white;
    display: block;
    width: 2.3em;
    line-height: 2.3em;
    font-size: 2em;
}

.links a {
    outline: 0;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    vertical-align: baseline;
    border-radius: 100%;
    background-color: rgba(1, 1, 1, 0.6);
    color: #fff;
}

.links a:hover {
    -webkit-animation: bigger 0.2s forwards;
    animation: bigger 0.2s forwards;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

.hidden {
    display: none;
}

/* Animations */

.blink {
    -webkit-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

.fadeInUp {
    opacity: 0;
    -webkit-animation: fadeInUp 0.7s forwards;
    animation: fadeInUp 0.7s forwards;
}

@-webkit-keyframes blink {
    to {
        opacity: .0;
        color: black;
    }
}

@keyframes blink {
    to {
        opacity: .0;
        color: black;
    }
}

@-webkit-keyframes bigger {

    to {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }

}

@keyframes bigger {

    to {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }

}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.delay-1 {
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
}

.delay-2 {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
}

.delay-3 {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;

}

.delay-4 {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;

}

.delay-5 {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
}

.delay-6 {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}

/* End of animations */
